@keyframes slideIn {
    0% {
        left: 100%
    }

    25% {
        left: calc(100% - 250px)
    }

    75% {
        left: calc(100% - 250px)
    }

    100% {
        left: 100%
    }
}

.alert{
    position: fixed;
    top: 7%;
    left: 100%;
    width: 250px;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
}